
/*
    Row
*/
.jh-row {
    display: flex;
    flex-flow: row wrap;
}
.jh-top {
    align-items: flex-start;
}
.jh-bottom {
    align-items: flex-end;
}
.jh-middle {
    align-items: center;
}
.jh-start {
    justify-content: flex-start;
} 
.jh-end {
    justify-content: flex-end;
} 
.jh-center {
    justify-content: center;
} 
.jh-space-around {
    justify-content: space-around;
} 
.jh-space-between {
    justify-content: space-between;
} 
.jh-wrap {
    flex-wrap: wrap;
}

@each $key,$value in $col-span {
    .jh-span-#{$value} {
        @include cols-rules(24,$value )
    }
}

@each $key,$value in $col-offset {
    .jh-offset-#{$value} {
        @include cols-offset-rules(24,$value);
    }
}



@each $key,$value in $col-pull {
    .jh-pull-#{$value} {
        @include cols-pull-rules(24,$value);
    }
}
@each $key,$value in $col-push {
    .jh-push-#{$value} {
        @include cols-push-rules(24,$value);
    }
}

